<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Article</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <header>
        <div class="amc">
            <p>AMC Engineering College</p>
        </div>
        <nav>

            <li><a href="home.html">Home</a></li>

            <li><a href="submit_article.html">Submit News</a></li>

        </nav>
    </header>

    

    
    <h1 class="subsuccess">Submitted Successfully</h1>
    <footer>
        <p>&copy Copyright 2024 . AMC Engineering College | Made By Bharath , Matharishwa & Bichitra |</p>
    </footer>
</body>

</html>